<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/employee-signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100&display=swap"
    rel="stylesheet">

    <title>Log-in</title>
</head>
<body>
    <header>
        <h1>Trackgenix SA</h1>
    </header>
    <nav>
        <form>
            <div class="container-search">
                <input class= "search" type="text" placeholder="Search">
                <span class="icon">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </span>
            </div>
        </form>
        <div class="account-buttons">
            <button class="buttons-account" id="log-in">
                <a href="../views/login.html"> Log in </a>
            </button>
            <button class="buttons-account" id="sign-up">
                <a href="../views/employee-signup.html"> Sign up </a>
            </button>
        </div>
        <p class="menu"> Menu </p>
        <ul class="sub-menu">
            <li>
                <a href="#homepage">Homepage</a>
            </li>
            <li>
                <a href="#features">Features</a>
            </li>
            <li>
                <a href="#why-trackgenix">Why Trackgenix?</a>
            </li>
            <li>
                <a href="#contact-us">Contact Us</a>
            </li>
        </ul>
        <div class="get-in-touch">
        <p class="menu">Get in touch</p>
        <ul class="more-data">
            <li>mailinfo@trackgenix.com</li>
            <li>123-456789</li>
            <li>123 fake road #2000 Rosario, Argentina</li>
        </ul>
    </nav>
    <div class="form">
        <p>Sign up</p>
        <form class="sign-up-form">
            <div class="content-sign-up-form">
                <label class="label-name">Name:</label>
                <input class="form-input" placeholder="Name" type="text">
            </div>
            <div class="content-sign-up-form">
                <label class="surname">Surname:</label>
                <input class="form-surname" placeholder="Surname" type="text">
            </div>
            <div class="content-sign-up-form">
                <label class="label-id">Id:</label>
                <input class="form-input" placeholder="Id" type="number">
            </div>
            <div class="content-sign-up-form">
                <label class="date-birth">Date of birth:</label>
                <input class="form-birth" placeholder="Birth" type="date">
            </div>
            <div class="content-sign-up-form">
                <label class="label-phone-number">Phone Number:</label>
                <input class="form-number" placeholder="Phone number" type="tel">
            </div>
            <div class="content-sign-up-form">
                <label class="label-address">Address:</label>
                <input class="form-address" placeholder="Address" type="text">
            </div>
            <div class="content-sign-up-form">
                <label class="city">City:</label>
                <input class="form-city" placeholder="City" type="text">
            </div>
            <div class="content-sign-up-form">
                <label class="postal-code">Postal code:</label>
                <input class="form-pc" placeholder="Postal code" type="number">
            </div>
            
            <div class="content-sign-up-form">
                <label class="password">Password:</label>
                <input class="form-password" placeholder="Password" type="password">
            </div>
            <div class="content-sign-up-form">
                <label class="email">Email:</label>
                <input class="form-input" placeholder="Email" type="email">
            </div>
            <div class="content-sign-up-form">
                <label class="repeat-password">Repeat password:</label>
                <input class="form-input" placeholder="Repeat password" type="password">
            </div>
        </form>
        <div class="button-sign-up">
            <input type="button" value="Create">
        </div>
    </div> 
</body>
</html>