/* FONTS */
.font-poppins {
    font-family: 'Poppins', sans-serif;
}
.font-roboto {
    font-family: 'Roboto', sans-serif;
}
/* HEADER */
body {
    background-color: #ffffff;
    color: #373867;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
}
.header{
    background: #AACE9B;
    color:#373867;
    text-align: left;
    font-weight: 700;
    position: fixed;
    top: 0;
    width: calc(100% - 288px);
    height: 100px;
    z-index: 100;
    padding: 0;
    margin-left: 316px;
}
.header h1 {
    color: #373867;
    font-size: 50px;  
}
h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}
h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
} 
h4 {
    text-align: center;
}
/* SETTING COMPONENTS */
p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
a {
    color: #000;
    text-decoration: none;
}
img {
    border-radius: 5px;
} 
section {
    position: relative;
    margin: 54px;
} 
main {
    padding-top: 100px;
    padding-left: 288px;
}
article {
    position: relative;
    margin: 54px;
}
/* SIDEBAR */
nav {
    position: fixed;
    padding: 35px 14px;
    top: 0;
    left: 0;
    z-index: 200;
    font-size: 20px;
    width: 288px;
    height: 100%;
    background-color: #ddd;
}
#sidebar-search {
    width: 100%;
    height: 37px;
    font-size: 14px;
    padding-left: 12px;
    margin-bottom: 78px;
    border-radius: 4px;
    border-color: #373867;
}
nav > h2 {
    font-size: 20px;
    margin-bottom: 40px;
}
nav > ul {
    padding: 0;
    list-style-type: none;
}
nav > ul > li {
    line-height: 23px;
    margin: 20px 0;
}
/* SOCIAL MEDIA */
.social-media {
    display: inline-block;
} 
.social-media > li {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    font-size: 20px;
} 