/* FONTS */

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

/* BODY */

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMPONENTS */

h2 {
    color: #373867;
    font-size: 2rem;
    font-weight: bold;
}

img {
    border-radius: 5px;
} 

h4 {
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
}

p {
    color: #373867;
    font-size: 18px;
    margin-top: 5px;
}

/* SIDEBAR + COMPONENTS */

.side-bar {
    float: left;
    background-color: #DADADA;
    width: 400px;
    height: 3900px;
    padding: 50px;
    margin-right: 100px;
}

.bar, .btn-log, .btn-sign, button {
    float:left;
    padding: 12px 35px 12px 35px;
    margin: auto;
    border: none;
}

.bar {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.btn-log, .btn-sign {
    margin: 25px 0 25px 0;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 15px;
}

.btn-log {
    background-color: #49A37B;
    color: #FFF
}

.btn-sign {
    background-color: #373867;
    color: #FFF;
    margin-left: 10px;
}

button {
    background-color: #AACE9B;
    color: #373867;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
}

.btn-up {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav {
    float: left;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 5px 0 25px 0;
    border-bottom: solid 1px #49A37B;
    margin-bottom: 200px;
}

nav ul li {
    font-size: 18px;
    color: #373867;
    line-height: 30px;
    
}

nav ul a:link {
    text-decoration: underline;
    color: #373867;
}

nav span {
    color: #49A37B;
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid 1px #49A37B;
    
}

/* HEADER + MAIN CONTENT*/

#main-title, #features, #whytrackgenix, #form {
    padding-left: 500px;
    padding-right: 100px;
}

h1 {
    color: #373867;
    font-size: 80px;
    font-weight: bold;
    max-width: 100%;
    border-bottom: solid 4px #373867;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 5px;
}

.content01 {
    max-width: 100%;
    margin-bottom: 100px;
}

.content01 span {
    color: #49A37B;
    font-size: 40px;
    font-weight: bold;
}

.content01 p {
    width: 45%;
    margin-top: 10px;
    line-height: 30px;
}

.content01 img {
    float: right;
    width: 685px;
    height: 415px;
    margin-top: 50px;
}

.content02 {
    max-width: 100%;
    margin-bottom: 100px;
}

.content02 span {
    color: #49A37B;
    font-size: 40px;
    font-weight: bold;
    margin-left: 640px;
}

.content02 p {
    float: right;
    width: 52.5%;
    margin-top: 60px;
    line-height: 30px;
}

.content02 img {
    float: left;
    width: 580px;
    height: 285px;
    margin-top: 20px;
}

.content02 button {
    margin-left: 40px;
    margin-top: 25px;
    float: left;
}

/* FEATURES */

.textcontent {
    float: left;
    max-width: 100%;
}

.textcontent h2 {
    max-width: 100%;
    border-bottom: solid 3px #373867;
    padding-top: 150px;
    padding-bottom: 5px;
}

.textcontent ul {
    margin-top: 15px;
    line-height: 30px;
}

.textcontent ul li {
    color: #373867;
    font-size: 1.25rem;
    margin-left: 75px;
}

.textcontent ul li span {
    font-weight: bold;
}

.textcontent p {
    margin-top: 25px;
    line-height: 30px;
}

/* WHY-TRACKGENIX */

#whytrackgenix .contentleft, #whytrackgenix .contentright {
    float: left;
    width: 100%;
}

.contentleft h2 {
    max-width: 100%;
    border-bottom: solid 3px #373867;
    margin-bottom: 50px;
    padding-top: 150px;
    padding-bottom: 5px;
}

h3 {
    color: #373867;
    font-size: 20px;
    font-weight: bold;
}

.contentleft .content01 img {
    float: left;
    width: 45%;
    height: 230px;
    margin-top: 50px;
    border-radius: 50px;
    border: solid 2px #373867;
}

.contentleft h3 {
    float: right;
    width: 40%;
    margin-right: 2.5%;
    text-align: center;
    margin-top: 50px;
}

.contentleft p {
    float: right;
    width: 40%;
    margin-right: 2.5%;
    margin-top: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
}

.contentleft button {
    margin-left: 27.5%;
    margin-top: 25px;
    float: left;
}

.contentright .content02 img {
    float: right;
    margin-top: 50px;
    width: 45%;
    height: 230px;
    border-radius: 50px;
    border: solid 2px #373867;
}

.contentright h3 {
    float: left;
    width: 45%;
    text-align: center;
    margin-top: 50px;
}

.contentright p {
    float: left;
    width: 40%;
    margin-left: 2.5%;
    margin-top: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
}

.contentright button {
    margin-left: 17.5%;
    margin-top: 25px;
    float: left;
}

/* CONTACT-US */
#form {
    width: 100%;
    margin-top: 2150px;
}

#form h2 {
    max-width: 100%;
    border-bottom: solid 3px #373867;
    margin-bottom: 100px;
    padding-top: 150px;
    padding-bottom: 5px;
}

.fields {
    float: left;
    width: 100%;
}

label {
    width: 100%;
    float: left;
    color:#373867;
    font-size: 1rem;
}

input, select {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 30%;
    max-width: 100%;
    float: left;
    padding: 5px;
    font-size: 14px;
}

.fieldtextarea {
    float: left;
    width: 100%;
}

textarea {
    float: left;
    padding: 5px;
    width: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.formbtn {
    float: left;
    margin-top: 25px;
    margin-bottom: 150px;
}

.reset {
    background-color: #DADADA;
    margin-left: 10px;
}

/* FOOTER */

footer {
    z-index: 2;
    float: left;
    background-color: #373867;
    width: 100%;
}

/* OUR-SERVICES */

.our-services-item {
    position: relative;
    display: inline-block;
    width: 200px;
    margin-left: 250px;
    margin-bottom: 30px;
}
  
.our-services-item > ol {
    height: 130px;
    padding: 20px;
}

footer h2 {
    color: #FFF;
    margin-top: 50px;
}

footer ol li {
    color: #FFF;
    font-size: 15px;
}

/* SOCIAL-MEDIA */

#socialmedia {
    background-color: #FFF;
    padding: 25px 0 25px 0;
    text-align: center;
}

#socialmedia a i {
    color: #373867;
    padding: 0 5px 0 5px;
}