

#services-list h3 {
    display: none;
    
}

footer h4 {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 700;
}

#services-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    margin: 0;
    background-color: #373867;
    color: #FFF;
}

.our-services-item {
    margin-left: 20px;
    width: 20%;
}

footer ol {
    list-style: decimal;
}

footer ol li {
    margin-left: 9%;
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
}

#social-media {
    margin-top: 35px;
    padding: 25px 0 25px 0;
    background-color: #FFF;
    text-align: center;
}

#social-media a i {
    padding: 0 5px 0 5px;
    color: #373867;
}


@media screen and (min-width: 1024px) {
    
    #services-list h3 {
        display: flex;
        flex-direction: column;
        justify-content: right;
        margin-left: 10%;
        margin-bottom: 5px;
        width: 0%;
        color:#FFF
    }

    .our-services-item {
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 13%;
    }

    #services-list {
    padding: 40px;
    margin: 0;
    background-color: #373867;
    color: #FFF;
    }      
}

@media screen and (min-width: 768px) {
    #services-list {
    padding-top: 0;
    }

    #services-list h3 {
    display: flex;
    justify-content: center;
    margin: 35px auto 35px auto;
    color: #FFF;
    }

    footer h4 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
    }

    footer ol li {
        margin-left: 9%;
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
    }
}

