

#trackgenix-info h2 {
    margin-bottom: 30px;
    margin-top: 60px;
    font-size: 40px;
    font-weight: 700;
    color: #49A37B;
    border-bottom: solid 3px #fff
}

#what-is-trackgenix {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 85%;
    margin: 5%;
}

#what-is-trackgenix p {
    margin: 5%;
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
    color: #373867;
}

.learn-more  {
    margin-top: 10px;
    padding: 6px 8px;
    background-color: #AACE9B;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    color: #373867;
}

#our-history {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#our-history p {
    margin: 5%;
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 25px;
    color: #373867;
}
/*------ FEATURES------*/
#features {
    display: block;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#features p {
    margin: 5%;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: #373867;
}

#features h2 {
    margin-top: 60px;
}

#features ul {
    margin: 5%;
    margin-top: 2px;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 15px;
}

#features ul li {
    color: #373867;
    font-weight: 300;
}
/*------ WHY-TRACKGENIX ------*/
.container, .content-mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    color: #373867;
    
}

.content-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 23px 0px;
    border-bottom: 0.7px solid #373867;
    border-top: 0.7px solid #373867;
}

#why-trackgenix .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 14px;
    flex: 50;
}

#why-trackgenix  h2 {
    margin-top: 60px;
}

#why-trackgenix .text-content h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 12px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 18px;
}

#why-trackgenix p {
    margin: 5%;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #373867;
}

#why-trackgenix img {
    width: 40%;
    min-width: 400px;
    border-radius: 10px;
    margin: 10px;
}

.btn-learn {
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 3.7px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #373867;
    background: #AACE9B;
}
/*------ CONTACT-US ------*/
#contact-us form {
    margin: 30px 37px 30px 30px;
}

#contact-us  h2 {
    margin-top: 60px;
    
}

#contact-us label {
    display: block;
    padding-bottom: 3px;
    font-weight: 500;
    font-size: 12px;
}

#contact-us input, select, textarea {
    margin-bottom: 15px;
    width: 100%;
    height: 25px;
    padding: 4px 6px;
    border: 0.5px solid #373867;
    border-radius: 3px;
    color: #373867;
}

#contact-us select {
    box-sizing: unset;
}

#contact-us input::placeholder, textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #373867;
    opacity: 0.5;
}

textarea {
    margin-top: 15px;
    height: 80px;
    font-family: 'Roboto';
    color: #373867;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    padding: 14px 36px;
    border-radius: 3.7px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #373867;
}

button.btn-send {
    background: #AACE9B;
}

button.btn-reset {
    background: #DADADA;
}

@media only screen and (min-width: 768px) {
    
    #contact-us form {
        width: 40%;
        margin: 3% 0 3% 6%;
    }

}

@media only screen and (min-width: 1024px) {
    
    #contact-us form {
        display: block;
        align-items: center;
        width: 30%;
        margin: 2% 0 2% 6%;
    }

    #whytrackgenix img {
        width: 35%;
        height: auto;
        border-radius: 50px;
        border: solid 2px #373867;
    }

    .container {
        flex-direction: row-reverse;
    }

    .content-mid {
        flex-direction: row;
    
    }

    #features p {
        margin: 10%;
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        color: #373867;
    }

    #features ul {
        margin: 10%;
        margin-top: 2px;
        margin-bottom: 20px;
        line-height: 40px;
        font-size: 20px;
    }

    #what-is-trackgenix {
        flex-direction: row-reverse;
        text-align: center;
        
    }

    #our-history {
        flex-direction: row;
    
    }

    #what-is-trackgenix p {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        
    }

    #contact-us form {
        display: block;
        align-items: center;
        justify-content: flex-end;
        width: 30%;
        margin: 2% 25% 2% 25%;
    }

    .container, .content-mid{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        color: #373867;
        
    }
    
    .content-mid {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 23px 0px;
        border-bottom: 0.7px solid #373867;
        border-top: 0.7px solid #373867;
    }
    
    #why-trackgenix .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
        font-size: 14px;
        flex: 50;
    }
    
    #why-trackgenix  h2 {
        margin-top: 60px;
    }
    
    #why-trackgenix .text-content h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 12px;
        margin-top: 10px;
        font-weight: 700;
        font-size: 30px;
        line-height: 18px;
    }
    
    #why-trackgenix p {
        margin: 5%;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        color: #373867;
    }
    
    #why-trackgenix img {
        width: 40%;
        min-width: 400px;
        border-radius: 10px;
        margin: 10px;
    }
    
    .btn-learn {
        padding: 8px 12px;
        margin-top: 10px;
        border-radius: 3.7px;
        border: none;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #373867;
        background: #AACE9B;
    }

}

