/* SIDEBAR + COMPONENTS */

.side-bar {
    float: left;
    background-color: #DADADA;
}

.bar, .btn-log, .btn-sign, button {
    float:left;
    padding: 12px 35px 12px 35px;
    margin: auto;
    border: none;
}

.bar {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.btn-log, .btn-sign {
    margin: 25px 0 25px 0;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 15px;
}

.btn-log {
    background-color: #49A37B;
    color: #FFF
}

.btn-sign {
    background-color: #373867;
    color: #FFF;
    margin-left: 10px;
}

button {
    background-color: #AACE9B;
    color: #373867;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
}

.btn-up {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav {
    float: left;
    width: 100%;
    margin-top: 100px;
}

nav ul {
    list-style: none;
    padding: 5px 0 25px 0;
    border-bottom: solid 1px #49A37B;
    margin-bottom: 300px;
}

nav ul li {
    font-size: 18px;
    color: #373867;
    line-height: 30px;
    
}

nav ul a:link {
    text-decoration: underline;
    color: #373867;
}

nav span {
    color: #49A37B;
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid 1px #49A37B;
    
}