
body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

h2  {
    width: 80%;
    margin: 25px auto 25px auto;
    padding: 0 0 2.5px 0;
    border-bottom: solid 3px #373867;
    font-size: 50px;
    font-weight: 730;
    text-align: center;
    text-transform: uppercase;
    color: #373867;
}

h3  {
    width: 80%;
    margin: 25px auto 5px auto;
    padding: 0 0 2.5px 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #373867;
}


img {
    display: flex;
    border-radius: 20px;
    border: 0.7px solid #373867;
    max-width: 50%;
    height: auto;
} 

label, span{
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #373867;
}

/* media queries 1024px */
@media screen and (min-width: 1024px) {
    #trackgenix-title {
        font-size: 120px;
        text-align: left;
    }
    
    
    
}