
body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

h2  {
    width: 90%;
    margin: 25px auto 25px auto;
    padding: 0 0 2.5px 0;
    border-bottom: solid 3px #373867;
    font-size: 30px;
    font-weight: 730;
    text-align: center;
    text-transform: uppercase;
    color: #373867;
}

img {
    border-radius: 5px;
    border: 0.7px solid #373867;
    max-width: 50%;
    height: auto;
} 

h4 {
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
}

p, label, span{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #373867;
   
    
}

@media (min-width: 480px) {
    h1 {
        font-size: 50px;
    }
}