
body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

h2  {
    width: 90%;
    margin: 25px auto 25px auto;
    padding: 0 0 2.5px 0;
    border-bottom: solid 3px #373867;
    font-size: 50px;
    font-weight: 730;
    text-align: center;
    text-transform: uppercase;
    color: #373867;
}

img {
    display: flex;
    border-radius: 20px;
    border: 0.7px solid #373867;
    max-width: 50%;
    height: auto;
} 


label, span{
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #373867;
}
